<% content_for :title, 'Editar Loja' %>

<%= render 'form' %>

<div id="map"></div>
<strong>Estou na área? </strong> <br>
<span id="resultado-mapa"></span>

<button id="bt-carregar" class="bt-carregar">Carregar endereço</button>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=geometry&key=AIzaSyBd09zxchn0kYMBBpJHrsy72Fyw6m7-PuQ"></script>
<script>
  function initialize() {
    var mapOptions = {
      zoom: 17,
      center: new google.maps.LatLng(-22.879698840442824, -47.056036956066926),
      mapTypeId: google.maps.MapTypeId.SATELLITE
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    var geocoder = new google.maps.Geocoder();
    var princiCoords = [
      // -51.2382738,-30.0373476,0.0 -51.2420496,-30.043290600000002,0.0 -51.2444525,-30.047450500000004,0.0 -51.2444525,-30.05161010000001,0.0 -51.2489148,-30.0569581,0.0 -51.2530339,-30.0575523,0.0 -51.2520041,-30.061414399999997,0.0 -51.2506311,-30.065573499999996,0.0 -51.2537204,-30.0721089,0.0 -51.25509339999999,-30.075079399999993,0.0 -51.25886919999999,-30.075079399999996,0.0 -51.2626451,-30.076861700000002,0.0 -51.269510100000005,-30.079832000000003,0.0 -51.2715697,-30.0830993,0.0 -51.2688237,-30.0854754,0.0 -51.2623018,-30.087851500000003,0.0 -51.2616152,-30.092603500000006,0.0 -51.262645,-30.096464300000004,0.0 -51.2657344,-30.100918899999996,0.0 -51.2629883,-30.1041854,0.0 -51.2530339,-30.105373299999997,0.0 -51.2489148,-30.1080458,0.0 -51.249258,-30.112202900000003,0.0 -51.2441092,-30.1130937,0.0 -51.2389603,-30.114875299999998,0.0 -51.2334682,-30.1190322,0.0 -51.2259166,-30.116656799999994,0.0 -51.2180216,-30.113390700000004,0.0 -51.211843,-30.1101244,0.0 -51.208067199999995,-30.107155000000002,0.0 -51.2049779,-30.1035915,0.0 -51.2066942,-30.099434,0.0 -51.2156189,-30.0988401,0.0 -51.2214543,-30.092603500000006,0.0 -51.227289600000006,-30.0845844,0.0 -51.2255733,-30.072406000000004,0.0 -51.2187082,-30.0658706,0.0 -51.21012670000001,-30.0545812,0.0 -51.19845600000001,-30.054284099999997,0.0 -51.18747179999999,-30.0575523,0.0 -51.1799201,-30.0596319,0.0 -51.170309,-30.0652765,0.0 -51.161041,-30.0611174,0.0 -51.153146099999994,-30.0551755,0.0 -51.1449079,-30.046261900000005,0.0 -51.1301479,-30.035861900000004,0.0 -51.1109254,-30.022785799999994,0.0 -51.103888700000006,-30.0068843,0.0 -51.1037171,-30.000195999999992,0.0 -51.1050901,-29.9929126,0.0 -51.1044035,-29.988750500000002,0.0 -51.1042319,-29.982358300000005,0.0 -51.1066347,-29.9747762,0.0 -51.1078361,-29.967788399999996,0.0 -51.1109254,-29.9591644,0.0 -51.114358,-29.958867000000005,0.0 -51.1179622,-29.958272199999996,0.0 -51.1286032,-29.9579748,0.0 -51.1402739,-29.957826099999995,0.0 -51.14078880000001,-29.970316000000004,0.0 -51.146280899999994,-29.970316000000004,0.0 -51.1510865,-29.971207999999997,0.0 -51.1507433,-29.974181600000005,0.0 -51.15211630000001,-29.977303600000003,0.0 -51.1557205,-29.977155000000003,0.0 -51.156063800000005,-29.9713567,0.0 -51.156063800000005,-29.967491000000003,0.0 -51.157093499999995,-29.9652608,0.0 -51.16292889999999,-29.9648147,0.0 -51.165846599999995,-29.961394799999997,0.0 -51.1672196,-29.9551495,0.0 -51.16996569999999,-29.9555956,0.0 -51.1709954,-29.949647400000003,0.0 -51.1795769,-29.9508371,0.0 -51.186613599999994,-29.9515806,0.0 -51.1912476,-29.9517293,0.0 -51.194337,-29.952175500000003,0.0 -51.1987993,-29.9532164,0.0 -51.203604899999995,-29.9579748,0.0 -51.211198,-29.9780173,0.0 -51.2181075,-29.997464799999996,0.0 -51.2185365,-29.998412400000003,0.0 -51.2332966,-30.0074788,0.0
      new google.maps.LatLng(-51.2332966,-30.0074788),
      new google.maps.LatLng(-51.244795700000005,-30.012383300000003),
      new google.maps.LatLng(-51.24822820000001,-30.018030500000002),
      new google.maps.LatLng(-51.244452499999994,-30.023974599999992),
      new google.maps.LatLng(-51.2393036,-30.02635220000001),
      new google.maps.LatLng(-51.2365576,-30.0311071)
    ];
    var princiPolygon = new google.maps.Polygon({
      // Coordenadas do seu objeto
      paths: princiCoords,
      // Cor do da linha
      strokeColor: '#E12D93',
      // Opacidade da linha
      strokeOpacity: 0.8,
      // Espessura da linha
      strokeWeight: 4,
      // Cor de preenchimento do objeto
      fillColor: '#942E7C',
      // Opacidade do preenchimento
      fillOpacity: 0.35
    });
    // Insere o shape no mapa
    princiPolygon.setMap(map);
    function carregarNoMapa() {
      var novoLocal = new google.maps.LatLng(-22.878735,-47.058499)
      map.setCenter(novoLocal);
    }
    var bt = document.getElementById('bt-carregar');
    bt.addEventListener('click', function(e) {
      carregarNoMapa();
    });
    // Evento de alteração dos limites do mapa
    google.maps.event.addListener(map, 'center_changed', function(){
      var coordsCentro = [map.getCenter().A, map.getCenter().F];

      var estaNaArea = false;
      var resultado = document.getElementById('resultado-mapa');
      estaNaArea = google.maps.geometry.poly.containsLocation(new google.maps.LatLng(coordsCentro[0], coordsCentro[1]), princiPolygon);
      if(estaNaArea){
        resultado.innerHTML = 'Você <b>está</b> na área da Princi Web';
      }
      else{
        resultado.innerHTML = 'Você <b>não está</b> na área da Princi Web';
      }
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
