<div class="col-md-6">
  <ul class="list-unstyled">
    <li><small>04510: PAC sem contrato</small></li>
    <li><small>41068: PAC com contrato</small></li>
    <li><small>41300: PAC para grandes formatos</small></li>
    <li><small>04014: SEDEX sem contrato</small></li>
    <li><small>40045: SEDEX a Cobrar, sem contrato</small></li>
    <li><small>40126: SEDEX a Cobrar, com contrato</small></li>
    <li><small>40215: SEDEX 10, sem contrato</small></li>
    <li><small>40290: SEDEX Hoje, sem contrato</small></li>
    <li><small>40096: SEDEX com contrato</small></li>
    <li><small>40436: SEDEX com contrato</small></li>
  </ul>
</div>
<div class="col-md-6">
  <ul class="list-unstyled">
    <li><small>40444: SEDEX com contrato</small></li>
    <li><small>40568: SEDEX com contrato</small></li>
    <li><small>40606: SEDEX com contrato</small></li>
    <li><small>81019: e-SEDEX, com contrato</small></li>
    <li><small>81027: e-SEDEX Prioritário, com contrato</small></li>
    <li><small>81035: e-SEDEX Express, com contrato</small></li>
    <li><small>81868: (Grupo 1) e-SEDEX, com contrato</small></li>
    <li><small>81833: (Grupo 2) e-SEDEX, com contrato</small></li>
    <li><small>81850: (Grupo 3) e-SEDEX, com contrato</small></li>
  </ul>
</div>
