<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Mapa</h4>
      </div>
      <div class="modal-body">
        <div id="map" style="width:100%; height: 400px;"></div>
        <script>

var polygonJSON = $.getJSON("<%= bounds_shop_shipping_method_map_rules_path(@shop, @method) %>");

function initMap() {
  var triangleCoords = [];

  $.each(polygonJSON.responseJSON, function(index, val){
    var lat = this.lat;
    var lng = this.lng;
    triangleCoords.push({ lat: lat, lng: lng })
  });

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: { lat: triangleCoords[0].lat, lng: triangleCoords[0].lng },
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var bermudaTriangle = new google.maps.Polygon({
    paths: triangleCoords,
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#FF0000',
    fillOpacity: 0.35
  });


  bermudaTriangle.setMap(map);
}


    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXcwv40prjOzsjl-oeRSRWqn_IB1lMH2A&signed_in=true"></script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
