<div class="row zip-codes-header">
  <div class="col-md-4">Loja</div>
  <div class="col-md-2 zip-code">CEP Início</div>
  <div class="col-md-2 zip-code">CEP Fim</div>
  <div class="col-md-2 zip-code">Prazo</div>
  <div class="col-md-2"></div>
</div>

<div id="places-container" class="row">
  <% places.each do |place| %>
    <%= render 'place_form', place: place %>
  <% end %>
</div>

<div class="row">
  <%= paginate(places, remote: true) if places.respond_to?(:total_pages) %>
</div>
